.container-grid {
  background-image: url('../../../assets/wallpaper.webp');
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: repeat(auto-fit, 100px);
  row-gap: 15px;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(auto-fit, 100px);
    column-gap: 10px;
  }
}